$box-shadow : rgba(221, 221, 221, 0.87);
$red : rgb(199, 20, 20);
$background-body : rgb(250, 250, 250);
body{
    background-color: $background-body;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
    #files{
        width: 80%;
        .folder{
            color: rgb(9, 39, 94);
            text-decoration: none;
        }
        .file{
            color: rgb(94, 11, 11);
        }
        thead{
            height: 50px;
            th {
                padding: 1em;
                border-bottom: 2px solid white; 
                color: white;
            }
            :nth-child(1){
                width: 10%;
                text-align: center;
                background-color: $red;
            }
            :nth-child(2){
                width: 50%;
                text-align: center;
                background-color: $red;
            }
            :nth-child(3){
                width: 15%;
                text-align: center;
                background-color: $red;
            }
            :nth-child(4){
                width: 20%;
                text-align: center;
                background-color: $red;
            }

            a{
                text-decoration: none;
                color: white;
                width: 100%;
            }
            .asc{
                background-image: url(/image/arrow_drop_down_black_24dp.svg);
                background-repeat: no-repeat;
                background-position: 80%;
            }
            .desc{
                background-image: url(/image/arrow_drop_up_black_24dp.svg);
                background-repeat: no-repeat;
                background-position: 80%;
            }
        }
        table {
            border-collapse: collapse;
            border-radius: 1em;
            overflow: hidden;
            width: 100%;
          }
          
          td {
            padding: 1em;
            background: #ddd;
            border-bottom: 2px solid white; 
          }
    
        tr {
            background-color: rgb(139, 139, 139);
            font-size: 20px;
            .type{
                text-align: center;
            }
            .name{
                text-align: center;
            }
            .date{
                text-align: center;
            }
            .size{
                text-align: center;
            }
        }
        tbody tr:hover {
            background-color: rgb(197, 197, 197);
        }
        #add{
            position: absolute;
            right: 30px;
            bottom: -45px;
            background-color: red;
            border-radius: 25px; 
        }  
    }
    #menu{
        position: fixed;
        top : 0;
        left : 0;
        height: 100%;
        background-color: $red;
        width: 20%;
        border-radius: 1em;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        .size{
            position: relative;
            text-align: center;
            padding-top: 20px;
            margin-top: 20px;

            width: 100%;
            svg {
                z-index: 2;
                position: absolute;
                top: -10%;
                left: 24%;
                path, circle {
                  stroke-linecap: round;
                  stroke-width:   12;
                }
                
                .bar {
                  stroke: #00aaff; 
                }
                
            }
        }
    }
    
}
.hidden {
    display: none;
  }

.context-menu{
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}