body {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body #files {
  width: 80%;
}

body #files .folder {
  color: #09275e;
  text-decoration: none;
}

body #files .file {
  color: #5e0b0b;
}

body #files thead {
  height: 50px;
}

body #files thead th {
  padding: 1em;
  border-bottom: 2px solid white;
  color: white;
}

body #files thead :nth-child(1) {
  width: 10%;
  text-align: center;
  background-color: #c71414;
}

body #files thead :nth-child(2) {
  width: 50%;
  text-align: center;
  background-color: #c71414;
}

body #files thead :nth-child(3) {
  width: 15%;
  text-align: center;
  background-color: #c71414;
}

body #files thead :nth-child(4) {
  width: 20%;
  text-align: center;
  background-color: #c71414;
}

body #files thead a {
  text-decoration: none;
  color: white;
  width: 100%;
}

body #files thead .asc {
  background-image: url(/image/arrow_drop_down_black_24dp.svg);
  background-repeat: no-repeat;
  background-position: 80%;
}

body #files thead .desc {
  background-image: url(/image/arrow_drop_up_black_24dp.svg);
  background-repeat: no-repeat;
  background-position: 80%;
}

body #files table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
  width: 100%;
}

body #files td {
  padding: 1em;
  background: #ddd;
  border-bottom: 2px solid white;
}

body #files tr {
  background-color: #8b8b8b;
  font-size: 20px;
}

body #files tr .type {
  text-align: center;
}

body #files tr .name {
  text-align: center;
}

body #files tr .date {
  text-align: center;
}

body #files tr .size {
  text-align: center;
}

body #files tbody tr:hover {
  background-color: #c5c5c5;
}

body #files #add {
  position: absolute;
  right: 30px;
  bottom: -45px;
  background-color: red;
  border-radius: 25px;
}

body #menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #c71414;
  width: 20%;
  border-radius: 1em;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #menu .size {
  position: relative;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  width: 100%;
}

body #menu .size svg {
  z-index: 2;
  position: absolute;
  top: -10%;
  left: 24%;
}

body #menu .size svg path, body #menu .size svg circle {
  stroke-linecap: round;
  stroke-width: 12;
}

body #menu .size svg .bar {
  stroke: #00aaff;
}

.hidden {
  display: none;
}

.context-menu {
  background-color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
/*# sourceMappingURL=folder.css.map */