@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #fafafa;
}

#all {
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 0px;
      grid-template-columns: 300px 0px;
  -ms-grid-rows: 80px 300px 25px;
      grid-template-rows: 80px 300px 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: stretch;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(221, 221, 221, 0.87);
          box-shadow: 0px 0px 3px 3px rgba(221, 221, 221, 0.87);
  border-radius: 5px;
  background: linear-gradient(217deg, #fafafa, rgba(255, 0, 0, 0) 100%), linear-gradient(127deg, white, rgba(0, 255, 0, 0) 100%), linear-gradient(336deg, #fafafa, rgba(0, 0, 255, 0) 100%);
}

#all .title {
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  height: 100px;
  position: relative;
}

#all .title a {
  position: absolute;
  border-left: solid #c71414;
  background-color: #c71414;
  padding: 5px 20px 5px 50px;
  border-radius: 0 5px 5px 0;
  font-weight: 600;
  top: 40px;
  left: 0;
  -webkit-box-shadow: -2px 0px 2px 0px #c71414;
          box-shadow: -2px 0px 2px 0px #c71414;
}

#all .title button {
  position: absolute;
  top: 55px;
  left: 240px;
}

#all form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
  opacity: 1;
  margin-top: 50px;
  gap: 20px;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#all form.active input {
  border: none;
  outline: none;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 0 0 2px 2px rgba(221, 221, 221, 0.87);
          box-shadow: 0 0 2px 2px rgba(221, 221, 221, 0.87);
  border-radius: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

#all form.inactive {
  padding-left: 20px;
  padding-right: 20px;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  opacity: 0;
}

#all button {
  border-color: white;
  border-width: 0;
  background-color: white;
  margin: 10px;
  padding: 10px;
  margin-bottom: 0px;
  -webkit-box-shadow: inset 75px 0 0 0 #c71414, 0 0 2px 2px rgba(221, 221, 221, 0.87);
          box-shadow: inset 75px 0 0 0 #c71414, 0 0 2px 2px rgba(221, 221, 221, 0.87);
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  color: white;
}

#all button.submit-btn {
  margin-top: 20px;
  border-radius: 5px;
}

#all button#change-form-type {
  border-radius: 50%;
  padding: 25px;
  -webkit-box-shadow: inset 100px 0px 0px 0px #c71414, 0 0 2px 2px rgba(221, 221, 221, 0.87);
          box-shadow: inset 100px 0px 0px 0px #c71414, 0 0 2px 2px rgba(221, 221, 221, 0.87);
  -webkit-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

#all button#change-form-type svg {
  color: white;
}

#all .sign-message {
  text-align: center;
  font-size: 15px;
  -ms-grid-row: 3;
  grid-row: 3;
}

.none {
  display: none;
}
/*# sourceMappingURL=style.css.map */