@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600;700&display=swap);

$box-shadow : rgba(221, 221, 221, 0.87);
$red : rgb(199, 20, 20);
$background-body : rgb(250, 250, 250);

body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-content: flex-end;
    flex-wrap: nowrap;
    background-color: $background-body;
}
#all{
    width: 300px;
    justify-content: center;
    display: grid;
    grid-template-columns: 300px 0px;
    grid-template-rows: 80px 300px 25px;
    align-items: center;
    justify-items: stretch;
    align-content: center;
    box-shadow: 0px 0px 3px 3px $box-shadow;
    border-radius: 5px;
    background: linear-gradient(217deg, $background-body, rgba(255,0,0,0) 100%),
                linear-gradient(127deg, white, rgba(0,255,0,0) 100%),
                linear-gradient(336deg, $background-body, rgba(0,0,255,0) 100%);
    .title{
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        grid-column: 1/3;
        grid-row: 1/2;
        height: 100px;
        position: relative;
        a{
            position: absolute;
            border-left: solid $red;
            background-color: $red;
            padding: 5px 20px 5px 50px;
            border-radius: 0 5px 5px 0 ;
            font-weight: 600;
            top: 40px;
            left: 0;
            box-shadow: -2px 0px 2px 0px $red;
        }
        button{
            position: absolute;
            top: 55px;
            left: 240px;
        }
    }
    form.active{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-column: 1;
        grid-row: 2;
        opacity: 1;
        margin-top: 50px;
        gap: 20px;
        transition: opacity 0.5s;
        input{
            border: none;
            outline: none;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            box-shadow: 0 0 2px 2px $box-shadow;
            border-radius: 5px;
            font-family: 'Quicksand', sans-serif;
            font-weight: 600;
        }
    }

    form.inactive{
        padding-left: 20px;
        padding-right: 20px;
        grid-column: 2;
        grid-row: 2;
        opacity: 0;
    }

    button{
        border-color: white;
        border-width: 0;
        background-color: white;
        margin: 10px;
        padding: 10px;
        margin-bottom: 0px;
        box-shadow: inset 75px 0 0 0 $red, 0 0 2px 2px $box-shadow;
        transition: ease-out 0.4s;
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        color: white;
        &.submit-btn{
            margin-top: 20px;
            border-radius: 5px;
        }
        &#change-form-type{
            border-radius: 50%;
            padding: 25px;
            box-shadow: inset 100px 0px 0px 0px $red, 0 0 2px 2px $box-shadow;
            transition: ease-out 0.4s;
            svg{
                color: white;
            }
        }
    }
    .sign-message{
        text-align: center;
        font-size: 15px;
        grid-row: 3;
    }
}
.none{
    display: none;
}